USE [training_week_3]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 5/21/2026 5:21:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[created_by] [varchar](255) NULL,
	[updated_at] [datetime2](7) NULL,
	[updated_by] [varchar](255) NULL,
	[description] [varchar](500) NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 5/21/2026 5:21:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[created_by] [varchar](255) NULL,
	[updated_at] [datetime2](7) NULL,
	[updated_by] [varchar](255) NULL,
	[description] [varchar](1000) NULL,
	[name] [varchar](200) NOT NULL,
	[price] [numeric](18, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[category_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[categories] ([id], [created_at], [created_by], [updated_at], [updated_by], [description], [name]) VALUES (N'8d981550-9455-4db5-9c28-61fc1ea4943a', CAST(N'2026-05-21T16:34:05.6953686' AS DateTime2), N'SYSTEM', CAST(N'2026-05-21T16:34:05.6953686' AS DateTime2), N'SYSTEM', N'Laptop category 2', N'Laptop 2')
INSERT [dbo].[categories] ([id], [created_at], [created_by], [updated_at], [updated_by], [description], [name]) VALUES (N'ad1f9e40-8032-4277-9f80-7e37bea5468a', CAST(N'2026-05-21T16:25:44.9738665' AS DateTime2), N'SYSTEM', CAST(N'2026-05-21T16:30:41.2766245' AS DateTime2), N'SYSTEM', N'Laptop category 1', N'Laptop 1')
GO
INSERT [dbo].[products] ([id], [created_at], [created_by], [updated_at], [updated_by], [description], [name], [price], [quantity], [category_id]) VALUES (N'bfea8e53-f5c3-466d-903d-0c1a50a0bb73', CAST(N'2026-05-21T16:34:45.9905404' AS DateTime2), N'SYSTEM', CAST(N'2026-05-21T16:34:45.9905404' AS DateTime2), N'SYSTEM', N'M4 Pro', N'Macbook Pro', CAST(3000.00 AS Numeric(18, 2)), 5, N'ad1f9e40-8032-4277-9f80-7e37bea5468a')
INSERT [dbo].[products] ([id], [created_at], [created_by], [updated_at], [updated_by], [description], [name], [price], [quantity], [category_id]) VALUES (N'29328e4d-61cd-452d-bb4d-bfa17567a932', CAST(N'2026-05-21T16:27:24.9614819' AS DateTime2), N'SYSTEM', CAST(N'2026-05-21T16:27:24.9614819' AS DateTime2), N'SYSTEM', N'M3 Pro', N'Macbook Pro', CAST(2500.00 AS Numeric(18, 2)), 10, N'ad1f9e40-8032-4277-9f80-7e37bea5468a')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKt8o6pivur7nn124jehx7cygw5]    Script Date: 5/21/2026 5:21:43 PM ******/
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [UKt8o6pivur7nn124jehx7cygw5] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9]
GO
